@font-face {
    font-family: "whitney";
    font-weight: 300;
    src:url(https://discordapp.com/assets/6c6374bad0b0b6d204d8d6dc4a18d820.woff) format("woff")
}

body {
    font-family: "whitney";
    background-color: #2C2F33;
}